body {
    display:flex;
    align-content: center;
    justify-content: center;
    border:solid, red, 1px;
}


#container {
    display: flex;
    flex-direction: column;
    height: 352px;
    width: 360px;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    
}

.rowDiv {
    display: flex;
    flex-direction: row;
   
    flex-grow: 1;
    width: 360px;
    margin:0;
    padding: 0;
   
    
    
}

.cell {
    display: flex;
    border: solid, black, 1px;
    flex-grow: 1;
    
    
}